.container-home {
  width: 100%;
  background-color: transparent;
}
.logo {
  position: absolute;
  width: 119px;
  height: 44px;
  left: 632px;
  right: 653px;
  top: 100px;
  bottom: 750px;
}
.forgot-text {
  position: absolute;
  width: 271px;
  height: 18px;
  left: 554px;
  top: 190px;
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  color: #222222;
}
.forgot-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 16px;
  top: 246px;
  left: 484px;
  bottom: 506px;
  right: 521px;
}
.forgot-val {
  width: 400px;
  height: 48px;
  filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
  border-radius: 4px;
}
::placeholder {
  font-family: "Metropolis";
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  padding-left: 12px;
}
.txt-forget {
  position: absolute;
  width: 123px;
  height: 14px;
  top: 298px;
  left: 766px;
  bottom: 402px;
  right: 520px;
}
.txt-forget a {
  font-family: "Metropolis";
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 14px;
  color: #db3022;
}
.btn-prim-forgot {
  position: absolute;
  width: 401px;
  height: 48px;
  top: 342px;
  left: 484px;
  bottom: 328px;
  right: 520px;
  background-color: #db3022;
  border-radius: 25px;
}
.txt-bot-forgot {
  position: absolute;
  display: flex;
  flex-direction: row;
  font-family: "Metropolis";
  width: 285px;
  height: 14px;
  top: 420px;
  left: 562px;
  bottom: 274px;
  right: 578px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-style: normal;
  gap: 4px;
}
.txt-bot-forgot p {
  color: #222222;
}
.txt-bot-forgot a {
  color: #db3022;
}
